@charset "UTF-8";

body,
.bg-dark {
    background-color: #1b1b1b !important;
}

.navbar {
    position: relative;
    z-index: 1000;
}

.navbar .form-control {
    background-color: #1b1b1b !important;
    color: #fff;
    border-color: #fff;
    border-radius: 0;
    max-width: 115px;
    line-height: 28px;
    height: 28px;
}

.navbar img {
    height: 24px;
}

.navbar-dark .navbar-toggler {
    color: #fff;
    border: none;
    padding-left: 0;
    padding-right: 0;
}

.navbar ul {
    color: #999898;
    max-width: 250px;
    background-color: #1b1b1b;
    position: absolute;
    top: 60px;
    left: -250px;
    height: calc(100vh - 60px);
    overflow-y: auto;
    transition: all .1s ease-out;
    opacity: .5;
}

.navbar.sidebar-open ul {
    left: 0;
    opacity: 1;
}

.navbar ul li {
    padding: .3em 1em;
}

.navbar ul li.divider {
    border-bottom: 1px solid #999898;
    margin: .3em auto;
}

.media-avatar img {
    height: 38px;
}